<% layout('./layouts/boilerplate') %>
<h1>All Hotels</h1>
<div>
  <a href="/hotels/new">Add New Hotel</a>
</div>
<ul>
  <% for (let hotel of hotels) {%>
  <li><a href="/hotels/<%= hotel._id %> "><%= hotel.title %></a></li>
  <%}%>
</ul>
