<% layout('./layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Hotel</h1>
  <div class="col-6 offset-3">
    <form
      action="/hotels"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="hotel[title]"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="hotel[location]"
          required
        />
      </div>
      <!-- <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="hotel[image]"
          required
        />
      </div> -->
      <input type="file" name="image" id="" multiple />

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="hotel[description]"
          required
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price"
          >Hotel Price
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              id="price"
              name="hotel[price]"
              required
            />
            <span class="input-group-text">.00</span>
          </div>
        </label>
      </div>

      <button class="btn btn-success mb-3">Add Hotel</button>
    </form>
    <div>
      <a href="/hotels">Back</a>
    </div>
  </div>
</div>
