<% layout('./layouts/boilerplate') %>
<h1>Add New Hotel</h1>
<form action="/hotels" method="POST">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="hotel[title]" />
  </div>
  <div>
    <label for="location">Location:</label>
    <input type="text" id="location" name="hotel[location]" />
  </div>
  <button>Add Campground</button>
</form>
<div>
  <a href="/hotels">Back</a>
</div>
