<% layout('./layouts/boilerplate') %>
<h1><%= hotel.title %></h1>
    <h2><%= hotel.location %></h2>
    <p>
      <a href="/hotels/<%= hotel._id %>/edit">Edit Hotel</a>
    </p>
    <p>
      <form action="/hotels/<%= hotel._id %>?_method=DELETE " method="POST">
        <button>Delete</button>
      </form>
    </p>
<a href="/hotels">Back to all Hotels</a>
